$black: #000;
$white: #fff;
$textColor: $black;
$lipRed: #ff0067;
$niceGreen: rgb(7, 255, 222);
$bg: #f7f7f7;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  color: $textColor;
  background: $bg;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

button {
  border-radius: 0px !important;
  background: $black;
  color: $white;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;

  &.active {
    background: $niceGreen;
    color: $black;
  }
}

// *******************************
h1 {
  padding: 5px;
  flex: 1;

  span {
    float: right;
    margin-right: 1em;
    font-weight: 900;
    font-size: 2em;
  }
}
h2 {
  flex: 2;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4em;
  font-weight: 200;
  margin: 0;

  #guess {
    background-color: #fffb5e;
  }
}

header.title {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: space-between;
  flex: 3;
}

.square {
  height: 200px;
  flex: 1;
  margin: 1px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.banner {
  flex: 1;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  background-color: $white;
  color: $black;
  border-top: 1px solid $black;

  > * {
    flex: 1;
    height: 100%;
  }

  button {
    width: 100%;
    border: 1px solid black;
    text-transform: uppercase;
    &:active {
      transform: scale(0.95);
    }
  }

  div {
    display: flex;
  }

  .board {
    flex: 2;
    flex-direction: column;
    display: flex;
    text-transform: uppercase;
    font-weight: 900;
    font-family: monospace;
    font-size: 1.2em;

    .games {
      flex: 1;
      text-align: left;
      padding-left: 5px;
      padding-top: 3px;
    }
    #message {
      flex: 2;
      padding-top: 5px;
    }
  }
}

.score-display {
  flex: 1;
  text-align: right;
  padding: 5px;
  font-size: 3.4em;
  font-weight: 900;
}

.tips {
  flex: 0.5;
  font-size: 0.7em;
  ul {
    margin: 0;
    padding: 1em;
    margin-left: 1em;
  }
  ul > li > span {
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
    margin: 2px;

    &.red {
      background-color: red;
    }
    &.green {
      background-color: green;
    }
    &.blue {
      background-color: blue;
    }
  }
}

.scream {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  flex: 1;
  width: 100%;
  font-size: 2em;
}

.scream-now {
  animation: 1.8s ease-in-out scream;
}

button.selected {
  background: $lipRed;
  color: $black;
}

button:active {
  background: $lipRed;
  color: $black;
}

@keyframes scream {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  50% {
    transform: scale(70);
  }
  100% {
    opacity: 0;
    transform: scale(100);
  }
}

.interlace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url('/../images/interlace.png') top left repeat;
  opacity: 0.2;
}
