$black: #000;
$white: #fff;
$textColor: #121212;
$lipRed: #ff0067;
$niceGreen: rgb(7, 255, 222);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 1em;
  color: $textColor;
}

body {
  background-color: #f7f7f7;
  &.layout {
    background-image: repeating-linear-gradient(
      -45deg,
      pink,
      pink 10px,
      hotpink 10px,
      hotpink 12px,
      pink 12px
    );
  }
}

.layout > * {
  background: rgba(255, 59, 118, 0.5);
  border-radius: 0px !important;
  outline: 1px solid #ff0049;
}

.layout > * > * {
  background: rgba(255, 59, 118, 0.5);
  border-radius: 0px !important;
  outline: 1px solid #ff0049;
}

.layout > * > * > * {
  background: rgba(255, 59, 118, 0.5);
  border-radius: 0px !important;
  outline: 1px solid #ff0049;
}

button {
  border-radius: 0px !important;
  background: $black;
  color: $white;

  &.active {
    background: $niceGreen;
    color: $black;
  }
}

#tools {
  position: absolute;
  top: 0px;
}

// *******************************
h2 {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.square {
  height: 200px;
  flex: 1;
  cursor: pointer;
}

.banner {
  text-align: center;
  height: 48px;
}
